/**
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
**/

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#game-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d0f5dd;
}

#game-container {
  position: relative;
  width: 100%;
  max-width: 480px;
  aspect-ratio: 480 / 800;
  height: auto;
  background-color: #d0f5dd;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d0f5dd;
}

#game-container {
  position: relative;
  width: 100%;
  /*max-width: 480px;*/
  /*aspect-ratio: 480 / 800;*/
  max-width: 720px;
  aspect-ratio: 720 / 1280;
  height: auto;
  background-color: #d0f5dd;
}
